*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh ;
    background: linear-gradient(to right, #fd125f, #fdaf79);
  }
  .wrapper{
    background: #ddf;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0,0,0.1),
     0 32px 64px -48px rgba(0, 0,0,0.5);
  }
  .form{
    padding: 20px 30px;
  }
  .form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-radius: 1px solid #e6e6e6;
  }
  .form form{
    margin: 20px 0;
  }
  .form form .error-text{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    display: none;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
  }
  .form form .name-details{
    display: flex;
    margin-top:60px ;
  }
  form .name-details .field:first-child{
    margin-right: 15px;
  }
  form .name-details .field:last-child{
    margin-left: 15px;
  }
  .form form .field label{
     margin-bottom: 2px;
  }
  .form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px ;
  }
  .form form .field input{
    outline: none;
  }
  .form form .field i.active::before{
    content: "\f070";
    color: #333;
  }
  .form form .input input{
    height:40px ;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form form .input select{
    height:40px ;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form form .button input{
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background-color: #335;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  .form form .image label i{
    font-size: 80px;
    margin-top: 20px;
    margin-right: 140px;
  }
  .form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
  }
  .form .link a{
    color: #333;
  }
  .form .link a:hover{
    text-decoration: underline;
  }
  .users{
    padding: 25px 30px;
    /* overflow-y: scroll; */
    
  }
  .users header, 
  .users-list a{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
  }
  .wrapper img{
    object-fit: cover;
    border-radius: 50%;
  }
  :is(.users, .users-list) .content {
    display: flex ;
    align-items: center;
  }
  .users header .content img{
    height: 50px;
    width: 50px;
  }
  :is(.users, .users-list) .details{
    color: #000;
    margin-left: 15px;
  }
  :is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
  }
  .users header .logout{
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px 15px;
  }
  .users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
   
    justify-content: space-between;
  }
  .users .search .text{
    font-size: 18px;
  }
  .users .search input.show{
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease-in;
  }
  .users .search input {
    position: absolute;
    height: 42px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease-in;
    border: 1px solid #ccc;
    padding: 0 13px;
    width: calc(100% - 50px);
    outline: none;
    border-radius: 5px 0 0 5px;
  }
  .users .search button.active i::before{
    content: "\f00d";
  }
  .users .search button.active{
    color: #fff;
    background: #333;
  }
  .users .search input.active{
    pointer-events: auto;
    opacity: 1;
  }
  .users .search button{
    width: 50px;
    height: 42px;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.4s ease-in;
    color: #333;
    background-color: #fff;
    border: none;
  }
  .users-list{
    max-height: 356px;
    overflow-y: auto;
  }
  .users-list a .content img{
    height: 40px;
    width: 40px;
  }
  :is(.users-list, .chat-box)::-webkit-scrollbar {
    width: 10px;
    height: 30px;
    border-radius: 12px;
  }
  :is(.users-list, .chat-box)::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  :is(.users-list, .chat-box)::-webkit-scrollbar-thumb{
    height: 30px;
  }
  :is(.users-list, .chat-box)::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .users-list a{
    page-break-after: 10px;
    padding-right: 15px;
    margin-bottom: 15px;
    border-bottom-color: #f1f1f1;
  }
  .users-list a:last-child{
    border: none;
    margin-bottom: 0px;
  }
  .users-list a .content p{
    color: #67676a;
  }
  
  .users-list a .status-dot {
    font-size: 12px;
    color: #468669;
    padding-left: 10px;
  }
  .users-list a .status-dot .offline{
    color: #ccc;
    font-size: 12px;
    padding-left: 10px;
  }
  
  .chat-area header{
    display: flex;
    /* position: sticky; */
    align-items: center;
    padding: 10px 30px;
  }
  .chat-area header .back-icon{
    font-size: 18px;
    color: #333;
  }
  .chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
  }
  .chat-area header span{
    font-size: 17px;
    font-weight: 500;
  }
  .chat-box{
    overflow-y: auto;
    height: 500px;
    background-color: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0,0, 0 / 5%)
    , inset 0 32px 32px -32px rgb(0,0, 0 / 5%);
  }
  .chat-box .outgoing{
    display: flex;
  
  }
  .chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px; 
     box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0rem 16px 16px -16px rgb(0 0 0 / 10%);
  }
  .outgoing .details p{
    background-color: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
  }
  .outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
  }
  .chat-box .incoming{
    display: flex;
    align-items: flex-end;
  }
  .chat-box .incoming img{
    height: 35px;
    width: 35px;
  }
  .chat-box .chat{
    margin: 15px 0;
  }
  .incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
  }
  
  .incoming .details p{
    background-color: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
  }
  .chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
  }
  .typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  .typing-area button{
    width: 55px;
    border: none;
    outline: none;
    border-radius: 0 5px  5px 0;
    background: #333;
    color: #fff;
    cursor: pointer;
  }
  
  @media screen and (max-width: 450px) {
    .form, .users{
      padding: 20px;
    }
    .form header{
      text-align: center;
    }
    .form form .name-details{
      flex-direction: column;
    }
    .form .name-details .field:first-child{
      margin-right: 0px;
    }
    .form .name-details .field:last-child{
      margin-left: 0px;
    }
  
    .users header img{
      height: 45px;
      width: 45px;
    }
    .users header .logout{
      padding: 6px 10px;
      font-size: 16px;
    }
    :is(.users, .users-list) .content .details{
      margin-left: 15px;
    }
  
    .users-list a{
      padding-right: 10px;
    }
  
    .chat-area header{
      padding: 15px 20px;
    }
    .chat-box{
      min-height: 400px;
      padding: 10px 15px 15px 20px;
    }
    .chat-box .chat p{
      font-size: 15px;
    }
    .chat-box .outogoing .details{
      max-width: 230px;
    }
    .chat-box .incoming .details{
      max-width: 265px;
    }
    .incoming .details img{
      height: 30px;
      width: 30px;
    }
    .chat-area form{
      padding: 20px;
    }
    .chat-area form input{
      height: 40px;
      width: calc(100% - 48px);
    }
    .chat-area form button{
      width: 45px;
    }
  }
  